<!DOCTYPE html>
html(lang="en", ng-app="catMap")
  head
    meta(charset="UTF-8")
    base(href="/")
    title Map
    meta(name="description",content="Map")
    link(rel="stylesheet", href="css/vendor.css?v=1.0.0")
    link(rel="stylesheet", href="css/app.css?v=1.0.0")
  body
    div(ui-view="header", class="full-width")
    div(ui-view="content", id="main-content", class="h-90")
    div(ui-view="footer")

    script(src="http://maps.google.com/maps/api/js")
    script(src="js/vendor.js?v=0.0.3")
    script(src="js/app.js?v=0.0.3")